Speech to Emotion/Speech Emotion Detetction/ravdess-data
Speech to Emotion/Speech Emotion Detetction/clean-speech
Speech to Emotion/Speech Emotion Recognition/data
SER-NLP/data
test.wav
NewRecording.wav
read.txt
graph.png
temp.txt
__pycache__