Documentation/
Speech to Emotion/Speech Emotion Detetction/ravdess-data
Speech to Emotion/Speech Emotion Detetction/clean-speech
Speech to Emotion/Speech Emotion Recognition/data
Affective-Computing-Main/data
Affective-Computing-Main/test.wav
Affective-Computing-Main/read.txt
Speech to Emotion/Speech Emotion Detetction/NewRecording.wav
Speech to Emotion/Speech Emotion Recognition/test.wav
NLP/graph.png
NLP/read.txt
NLP/temp.txt
__pycache__
.idea