Speech to Emotion/Speech Emotion Detetction/ravdess-data
Speech to Emotion/Speech Emotion Detetction/clean-speech
Speech to Emotion/Speech Emotion Recognition/data
SER-NLP/data
SER-NLP/test.wav
SER-NLP/read.txt
SER-NLP/temp.txt
Speech to Emotion/Speech Emotion Detetction/NewRecording.wav
Speech to Emotion/Speech Emotion Recognition/test.wav
NLP/graph.png
NLP/read.txt
NLP/temp.txt
__pycache__